<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Secure File Transfer</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <main class="container is-max-tablet p-3">
        <h1 class="is-size-1 has-text-centered">404 Not Found</h1>
    </main>
</body>
</html>