<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Hello World</h1>
    <p>ID: <%= id %></p>
</body>
</html>