<style>
    footer {
        background-color: hsl(198, 100%, 7%);
        padding: 2rem;
    }
</style>

<footer>
    <div class="content has-text-centered">
        <p>
            This is a <strong>Dev x Pinata</strong> hackathon project by <a href="https://dev.to/menard_codes" target="_blank">@menard_codes</a>
            <br />
            <small> =2024= </small>
        </p>
    </div>
</footer>