
<div class="field">
    <label class="label" for="passphrase">Passphrase</label>
    <div class="control has-icons-right">
      <input class="input" :class="error.passphrase && 'is-danger'" type="password" id="passphrase" name="passphrase" placeholder="Passphrase" autocomplete="off" required>
      <span class="icon is-small is-right" style="pointer-events: all; cursor: pointer;" id="togglePassword">
        <i class="fas fa-eye"></i>
      </span>
      <span class="help" :class="error.passphrase && 'is-danger'" x-text="error.passphrase ? error.passphrase : '<%= helpText %>'"></span>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const togglePassword = document.querySelector('#togglePassword');
      const password = document.querySelector('#passphrase');
  
      togglePassword.addEventListener('click', function () {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.querySelector('i').classList.toggle('fa-eye');
        this.querySelector('i').classList.toggle('fa-eye-slash');
      });
    });
</script>